:root{
    --amarillo: #ffbb00;
    --fondo: #2b2b2b;
}

* {
    margin:  auto;
    padding:  0;
    box-sizing: border-box;
    width: 90%;
}

body{
    background: var(--fondo);
    font-family: 'Anton', sans-serif;
    width: 90%;
}

.cont{
    width:  90%;
    margin: auto;
}

header {
    width: 100%;
    padding: 3%;
}

header .cont{
    display:  flex;
    justify-content: space-between;
    align-items: center;
    
}

header .titulo{
    font-family: 'Anton', sans-serif;
    
    color: var(--amarillo);
    font-size: 30px;
    
}

header nav a{
    color: rgb(199, 199, 199);
    text-decoration: none;
    margin-right: 20px;
}

header nav a:hover,
header nav a.activo{
    color: #ffbb00
}

.crear{
    color: white;
    font-family: 'Anton', sans-serif;
    text-align: center;
    margin: auto;
}

.tit{
    color: rgb(255, 187, 0);
    margin: 2%;
    margin-block-end: auto;
}

.crear .nuevo{
    color: rgb(223, 223, 223);
    font-family: 'DM Mono', monospace;
    font-size: 24px;    
}

.crear .nuevo input{
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    
   
    text-align: initial;
    text-rendering:auto;
    font-size: 20px;
}

.crear .bt{
    color: black;
    font-family: 'Anton', sans-serif;
    font-size: 170%;
    background-color: #ffbb00;
    margin-top: 2%;
    width: 20%;
    margin-right: auto;
    margin-left: auto;
}

ul li{
    margin-top: 2%;
    margin: auto;
    list-style: none;
    width: 80%;
}

ul li a{
    color: rgb(199, 199, 199);
    text-decoration: none;
}
.Formulario{
   font-size: 25px;
   align-items: center;
   
}

h4{
    color: rgb(255, 187, 0);    
    margin: 30px;
    margin-block-end: auto;
}


#rbVenta,#rbCanje{
    position: relative;
    display: inline-block;
    top: 5px;
    width: 20px;
    height: 20px;
        
}
.cont input[type=text]{
    width: 50%;
    height: 3%;
    padding: 1.3%;
    margin: auto;
}
#bxVenta,#bxCanje{
    display: none;
    width: 30%;
    height: 5%;
}
